/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6ccb2;
}
.box-container{
  background-color: #ede0d4;
}

main img{
  position: relative;
  width: 800px; /* width of container */
  height: 200px; /* height of container */
  object-fit: cover;
  border-radius: 20px;
  
}

main .box-container {

  padding: 0;
  width: 500px;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ede0d4;
  color: #7f5539;
  border-radius: 20px;
  box-shadow: #b08968 0px 8px 40px;
}

.flex-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}

h1{
  margin-left: 20px;
  color: #64442e;
  font-size:xx-large;
}

h3{
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: medium;
}
h2{
  font-size: 80px;
  margin-left: 20px;
}

p{
  padding: 20px;
}

main .btn{
  display: block;
  background-color: #64442e;
  color:azure;
  border-radius: 3rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px
}
